[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
auth0-python = "*"
boto3 = "*"
celery = "*"
django = "*"
django-cors-headers = "*"
django-environ = "*"
django-filter = "*"
django-s3-storage = "*"
django-select2 = "*"
django-sendgrid-v5 = "*"
django-webpack-loader = "*"
djangorestframework = "*"
geopy = "*"
gunicorn = "*"
psycopg2-binary = "*"
raven = "*"
redis = "*"
requests = "*"
sendgrid = "*"
social-auth-app-django = "*"
twilio = "*"
ujson = "*"
urllib3 = ">=1.24.2"

[dev-packages]
bandit = "*"
coverage = "*"
honcho = "*"
ipython = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
django-extensions = "*"
"flake8" = "*"
graphviz = "*"
pydotplus = "*"

[requires]
python_version = "3.7"
