<!DOCTYPE html>
<html lang="en">
    <title>{{title|default:'Authentication'}} | Immigrant Helpline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    {% block headscripts %}{% endblock headscripts %}

    <body class="sans-serif bg-blue-lightest p-0 m-0 w-screen h-screen overflow-x-hidden flex flex-col md:flex-row lg:flex-row">
            {% block content %}
            {% endblock content %}
        {% block end_scripts %}
        {% endblock end_scripts %}
    </body>
</html>
