{% extends 'auth-base.html' %}

{% block content %}
<div class="container max-w-sm p-6 md:p-8 lg:p-8 mx-auto border rounded-lg bg-gray-300">
    <h1 class="text-3xl text-teal-900 font-bold">
        Login
    </h1>
    <hr class="border mb-4"/>
    <form method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="mb3 pa3 ba b--dashed">
        <span>{{error}}</span>
        </p>
        {% endfor %}
        {% endif %}
        <div class="mb-4">
            <label class="block text-blue-darkest text-sm font-bold mb-2" for="username">
                Phone Number
            </label>
            <input
                class="appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                type="tel"
                name="username"
                placeholder="(321) 555 0123"
                id="id_username"
                autofocus>
        </div>
        <div class="mb-4">
            <label class="block text-blue-darkest text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input
                class="appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
                type="password"
                name="password"
                placeholder="*******"
                id="id_password">
        </div>

        <div class="mb-4">
            <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="submit">
                Sign In
            </button>
        </div>

        <hr/>

        <a href="/login/auth0" class="no-underline">
            <div class="bg-blue-500 hover:bg-blue-600 text-center text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full ">
                <span role="img" aria-label="envelop-icon">
                    ✉️&nbsp;&nbsp;
                </span>
                Log in with Gmail
            </div>
        </a>
    </form>
</div>
{% endblock content %}

{% block end_scripts %}

<script>
    (function() {
        // clear local storage
        console.log('clearing local storage')
        localStorage.clear();
        // clear session storage
        console.log('clearing session storage')
        sessionStorage.clear();
    })()
</script>
{% endblock end_scripts %}
