{% extends 'dashboard-base.html' %}

{% block content %}
<div class="my-2 h-full border rounded-lg bg-white max-w-md mx-auto">
    <form method="POST" class="w-full p-4 pb-2" enctype="multipart/form-data">
        <div class="flex">
            <div class="md:w-1/4"></div>
            <div class="md:w-3/4">
                <h2 class="font-bold text-2xl mb-2">
                    Send a New Fax
                </h2>
            </div>
        </div>

        {% if form.non_field_errors %}
        <div class="p-2 w-full bg-red-600 text-white rounded rounded-lg mb-6 px-4">
            {% for error in form.non_field_errors %}
            <p>
            <span class="mr-2">
                ⚠️
            </span><span class="font-mono">{{error}}</span>
            </p>
            {% endfor %}
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/4">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="id__to">
                    To
                </label>
            </div>
            <div class="md:w-3/4">
                <input
                    type="tel"
                    name="_to"
                    maxlength="16"
                    required=""
                    id="id__to"
                    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-900"
                    >
            </div>
        </div>

        <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/4">
                <label class="block text-gray-900 font-bold md:text-right mb-1 md:mb-0 pr-4" for="id_content">
                    File
                </label>
            </div>
            <div class="md:w-3/4">
                <input type="file" name="content" required="" id="id_content">
                {% if form.content.errors %}
                <p class="p-2 text-red-500">{{form.content.errors.as_text}}</p>
                {% endif %}
            </div>
        </div>
        <div class="md:flex md:items-center mb-4">
            <div class="md:w-1/4"></div>
            <div class="md:w-3/4">
                <button
                    class="shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded w-full"
                    type="submit">
                    Send Fax
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
